*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
  }
  html, body {
    width: 100%;
    height:100%;
  }
  body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #24d4ab);
      background-size: 100%;
      animation: gradient 15s ease infinite;
      position: fixed;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 75% 50%;
      }
      75% {
          background-position: 0% 50%;
      }
  } 
  .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    width:20%;
    border-radius: 20%;




  }
  h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:20px;
  }
  .avatar{
    width:100px;
    height: 100px;
    display: block;
    margin: auto;
    border: #23a6d5;
    border-radius: 50%;
  }
  .content-container
  {
    padding: 20px;
  }
  .row{
    display: flex;
    margin-left: 10%;
  }
  h3{
    margin-top: 4px;
  }
  